<br>

<h5>Here are some links to help you programming: </h5>
<ul>
  <li>
    <h5>  <a href="https://getbootstrap.com/docs/4.0/components/buttons/">Bootstrap Buttons</a>  </h5>
  </li>
  <li>
    <h5>  <a href="https://getbootstrap.com/docs/4.0/components/input-group/">Bootstrap Input Groups</a>  </h5>
  </li>
  <li>
    <h5>  <a href="https://valor-software.com/ngx-bootstrap/#/buttons">NGX Bootstrap Documentation</a>  </h5>
  </li>
  <li>
    <h5>  <a href="https://angular.io/guide/user-input">Angular Button User-Input</a>  </h5>
  </li>
  <li>
    <h5>  <a href="https://angular.io/api/common/NgForOf">Displaying a list of items in a array</a>  </h5>
  </li>
</ul>
