<br>

<!--<button class="btn btn-outline-primary"
        type="button"
        (click)="getTodos()">Get Server Todos
</button>
<br>-->


<h5>Was muss ich denn heute noch tun??</h5>
<div class="input-group mb-3">
  <input type="text"
         class="form-control"
         placeholder="Ich muss heute noch Brot kaufen!"
         [(ngModel)]="todoInput">
  <div class="input-group-append">
    <button class="btn btn-outline-primary"
            type="button"
            (click)="addNewTodo()">Hinzufügen
    </button>
  </div>
</div>

<hr>

<ul class="list-group">
  <li *ngFor="let todo of todos; let i=index"
      class="list-group-item list-group-item-info">{{i + 1}}. {{todo}}</li>
</ul>

<hr>

<footer>
  <div class="input-group mb-3">
    <input type="number"
           class="form-control"
           placeholder="1"
           [(ngModel)]="removableIndex">
    <div class="input-group-append">
      <button class="btn btn-danger"
              type="button"
              (click)="removeIndex()">Löschen
      </button>
    </div>
  </div>
  <br>
  <br>
</footer>


